{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% set css_constants = ginjarator.py.import_("dseomn_website.css_constants") %}
{% set fonts = ginjarator.py.import_("dseomn_website.fonts") %}

{% call ginjarator.fs.write_text_macro("work/css/common.less") %}
  @main-column-max-inline-size: {{ css_constants.MAIN_COLUMN_MAX_INLINE_SIZE }};
  @main-column-padding-inline: {{ css_constants.MAIN_COLUMN_PADDING_INLINE }};
  @float-max-inline-size: {{ css_constants.FLOAT_MAX_INLINE_SIZE }};
  @gallery-item-max-block-size: {{ css_constants.GALLERY_ITEM_MAX_BLOCK_SIZE }};

  @font-family-serif: {{ fonts.SERIF_FAMILIES_CSS }};
  @font-family-monospace: {{ fonts.MONOSPACE_FAMILIES_CSS }};

  @alternate-canvas: color-mix(in srgb, Canvas 95%, CanvasText);

  .section-outer() {
    background: Canvas;
    display: flow-root;
    margin-block: 1em;
  }

  .section-inner() {
    container-type: inline-size;
    margin-inline: auto;
    max-inline-size: @main-column-max-inline-size;
    padding-block: 1em;
    padding-inline: @main-column-padding-inline;
  }

  .section() {
    .section-outer();
    .section-inner();
  }

  .pseudo-section() {
    .section();
    background: unset;
    padding-block: 0;
  }

  .pseudo-section-before-site-footer() {
    .pseudo-section();
    border-block-end: thin solid;
    padding-block-end: 1em;
  }

  {% for font in fonts.FONTS %}
    @font-face {
      font-display: swap;
      font-family: '{{ font.family }}';
      font-style: {{ font.style }};
      font-weight: {{ font.weight }};
      src: url({{ font.url_path }}) format(woff2);
    }
  {% endfor %}
{% endcall %}
