// SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
//
// SPDX-License-Identifier: Apache-2.0

.figure-main {
  clear: both;
  margin-block: 1em;
  margin-inline: auto;
  max-inline-size: max-content;
}

@float-margin-inline-start: 1em;
@float-margin-inline-end: 0;
@float-parent-min-inline-size: (
  15em +
  @float-margin-inline-start +
  @float-max-inline-size +
  @float-margin-inline-end
);

.figure-float {
  clear: both;
  margin-block: 1em;
  margin-inline: auto;
  max-inline-size: @float-max-inline-size;
}

@container (inline-size >= @float-parent-min-inline-size) {
  .figure-float {
    clear: inline-end;
    float: inline-end;
    margin-block: 0.5em;
    margin-inline: @float-margin-inline-start @float-margin-inline-end;
  }
}
