// SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
//
// SPDX-License-Identifier: Apache-2.0

.image-main {
  block-size: auto;
  display: block;
  max-inline-size: 100%;
}

.image-float {
  block-size: auto;
  display: block;
  max-inline-size: 100%;
}

.gallery {
  clear: both;
  display: flex;
  flex-flow: wrap;
  gap: 0.5em;
  justify-content: safe center;
  margin-block: 1em;
}

.image-gallery-thumbnail {
  block-size: auto;
  display: block;
  inline-size: auto;
  max-block-size: @gallery-item-max-block-size;
  max-inline-size: 100%;
}
