{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: LicenseRef-NONE
 #}

{% import "include/article.html.jinja" as article %}

{% call article.standalone(
  url_path="/about/",
  title="About",
) %}
  <p>TODO: dseomn - Write something here.</p>
{% endcall %}
