{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: LicenseRef-NONE
 #}

{% set metadata = ginjarator.py.import_("dseomn_website.metadata") %}

{% import "include/article.html.jinja" as article %}

{% set extra_head %}
  <meta property="og:type" content="profile">
  <meta property="profile:first_name" content="David">
  <meta property="profile:last_name" content="Mandelberg">
  <meta property="profile:username" content="dseomn">
{% endset %}

{% call article.standalone(extra_head=extra_head) %}
  <h2>Contact</h2>
  <p>
    I can be reached at <a
    href="mailto:david@mandelberg.org">david@mandelberg.org</a>. <a
    href="https://en.wikipedia.org/wiki/IP_over_Avian_Carriers">Carrier
    pigeon</a> might work too, and I wish good luck to anybody who tries to
    reach me that way.
  </p>

  <h2>On other sites</h2>
  <ul>
    <li><a href="https://davidmandelberg.bandcamp.com/">Bandcamp</a></li>
    <li><a href="https://www.deviantart.com/dseomn/gallery">DeviantArt</a></li>
    <li><a href="https://www.duolingo.com/profile/dseomn">Duolingo</a></li>
    <li><a href="https://www.facebook.com/dseomn">Facebook</a></li>
    <li><a href="https://github.com/dseomn">GitHub</a></li>
    <li>
      <a href="https://imslp.org/wiki/Category:Mandelberg,_David">IMSLP</a>
    </li>
    <li><a href="https://www.last.fm/user/dseomn">Last.fm</a></li>
    <li>
      <a
      href="https://www.linkedin.com/in/david-mandelberg-6938368/">LinkedIn</a>
    </li>
    <li>
      MusicBrainz <a href="https://musicbrainz.org/user/dseomn">editor</a> and
      <a
      href="https://musicbrainz.org/artist/4736527c-9aeb-4a14-b298-b77a70b14afe">artist</a>
    </li>
    <li><a href="https://www.wikidata.org/wiki/User:Dseomn">Wikidata</a></li>
    <li><a href="https://www.youtube.com/user/dseomn">YouTube</a></li>
  </ul>
{% endcall %}
