{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: CC-BY-4.0
 #}

{% set iri = ginjarator.py.import_("dseomn_website.iri") %}
{% set metadata = ginjarator.py.import_("dseomn_website.metadata") %}

{% import "include/error.html.jinja" as error %}

{% call error.page() %}
  <p>
    Huh, that’s strange. If you’re trying to look at the <code>.htaccess</code>
    file or similar, maybe check out <a
    href="https://github.com/dseomn/david.mandelberg.org-public">this website’s
    source code</a> instead? Or <a href="{{
    iri.mailto(metadata.SITE.author.email_address) | e }}">email me</a> if you
    think this is a mistake.
  </p>
{% endcall %}
