{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: CC-BY-4.0
 #}

{% set metadata = ginjarator.py.import_("dseomn_website.metadata") %}

{% import "include/base_html.html.jinja" as base_html %}
{% import "include/error.html.jinja" as error %}

{% call error.page() %}
  <p>
    Huh, that’s strange. If you’re trying to look at the <code>.htaccess</code>
    file or similar, maybe check out <a
    href="https://github.com/dseomn/david.mandelberg.org-public">this website’s
    source code</a> instead? Or email me at {{
    base_html.a_mailto(metadata.SITE.author.email_address) }} if you think this
    is a mistake.
  </p>
{% endcall %}
