{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% set re = ginjarator.py.import_("re") %}

{% set metadata = ginjarator.py.import_("dseomn_website.metadata") %}
{% set paths = ginjarator.py.import_("dseomn_website.paths") %}

{% set dir_index_regexes = [] %}
{% for dir_index in paths.DIR_INDEXES %}
  {#
   # Apache and Python don't use the same regex engine, but this should be good
   # enough for simple strings like "index.html".
   #}
  {% do dir_index_regexes.append(re.escape(dir_index)) %}
{% endfor %}

{% call ginjarator.fs.write_text_macro(paths.OUTPUT / ".htaccess") %}
Options FollowSymlinks

RewriteEngine on
RewriteBase /

DirectoryIndex disabled
DirectoryIndex {{ paths.DIR_INDEXES | join(" ") }}
RewriteRule \
  "^((?:.*/)?)(?:{{ dir_index_regexes | join("|") }})$" \
  "$1" \
  [last,nosubreq,redirect=permanent]

{%- for post in metadata.Post.all() %}
{%- for url_path_alias in post.url_path_aliases %}
Redirect permanent "{{ url_path_alias }}" "{{ post.url_path }}"
{%- endfor %}
{%- endfor %}

AddType application/atom+xml .atom
AddType image/jpeg .jpg
AddType image/png .png
AddType text/css .css
AddType text/html .html
AddType text/plain .txt
AddCharset utf-8 .css .html .txt

{% for error_metadata in metadata.Error.all() %}
ErrorDocument {{ error_metadata.status.value }} {{ error_metadata.url_path }}
{% endfor %}
{% endcall %}
