{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% set compress = ginjarator.py.import_("dseomn_website.compress") %}
{% set metadata = ginjarator.py.import_("dseomn_website.metadata") %}
{% set paths = ginjarator.py.import_("dseomn_website.paths") %}

{% set negotiation_suffix_regex %}\.(?:var|c-e-[a-z]+){% endset %}

{% call ginjarator.fs.write_text_macro(paths.OUTPUT / ".htaccess") %}
Options FollowSymlinks

RewriteEngine on
RewriteBase /

# See https://stackoverflow.com/a/24258932/16979806 for REDIRECT_STATUS.
RewriteCond "%{IS_SUBREQ}" "^true$" [ornext]
RewriteCond "%{ENV:REDIRECT_STATUS}" "!^$"
RewriteRule "" "-" [env=is_internal_request:1]

DirectoryIndex disabled
DirectoryIndex {% for path in paths.DIR_INDEXES %} {{ path }}.var{% endfor %}
RewriteCond "%{ENV:is_internal_request}" "^$"
RewriteCond "%{REQUEST_FILENAME}" "-f"
RewriteRule \
  "^((?:.*/)?)index(?:\.[^/]*)?$" \
  "$1" \
  [last,redirect=permanent]

{%- for post in metadata.Post.all() %}
{%- for url_path_alias in post.url_path_aliases %}
Redirect permanent "{{ url_path_alias }}" "{{ post.url_path }}"
{%- endfor %}
{%- endfor %}

RewriteCond "%{ENV:is_internal_request}" "^$"
RewriteCond "%{REQUEST_FILENAME}" "-f"
RewriteRule \
  "^(.*){{ negotiation_suffix_regex }}$" \
  "$1" \
  [last,redirect=permanent]
RewriteCond "%{ENV:is_internal_request}" "^$"
RewriteCond "%{REQUEST_FILENAME}" "!{{ negotiation_suffix_regex }}$"
RewriteCond "%{REQUEST_FILENAME}.var" "-f"
RewriteRule "^.*$" "$0.var"
AddHandler type-map .var
{% for encoding in compress.ENCODINGS %}
AddEncoding {{ encoding.name }} {{ encoding.suffix }}
{% endfor %}
Header always unset Content-Location

AddType application/atom+xml .atom
AddType font/woff2 .woff2
AddType image/jpeg .jpg
AddType image/png .png
AddType text/css .css
AddType text/html .html
AddType text/plain .txt
AddCharset utf-8 .css .html .txt

{% for error_metadata in metadata.Error.all() %}
ErrorDocument {{ error_metadata.status.value }} {{ error_metadata.url_path }}
{% endfor %}
{% endcall %}
