{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% set re = ginjarator.py.import_("re") %}

{% set paths = ginjarator.py.import_("dseomn_website.paths") %}

{% set dir_index_regexes = [] %}
{% for dir_index in paths.DIR_INDEXES %}
  {#
   # Apache and Python don't use the same regex engine, but this should be good
   # enough for simple strings like "index.html".
   #}
  {% do dir_index_regexes.append(re.escape(dir_index)) %}
{% endfor %}

{% call ginjarator.fs.write_text_macro(paths.OUTPUT / ".htaccess") %}
Options FollowSymlinks

RewriteEngine on
RewriteBase /

DirectoryIndex disabled
DirectoryIndex {{ paths.DIR_INDEXES | join(" ") }}
RewriteRule \
  "^((?:.*/)?)(?:{{ dir_index_regexes | join("|") }})$" \
  "$1" \
  [last,nosubreq,redirect=permanent]

AddType image/jpeg .jpg
AddType image/png .png
AddType text/css .css
AddType text/html .html
<If "%{REQUEST_FILENAME} -strmatch '*/feed/index.xml'">
  ForceType application/atom+xml
</If>
AddCharset utf-8 .css .html

{% for template_path in ginjarator.fs.read_config().templates
  if template_path.is_relative_to("errors")
%}
ErrorDocument {{ template_path.parent.name }} /{{ template_path.parent }}/
{% endfor %}
{% endcall %}
