{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: CC-BY-4.0
 #}

{% import "include/article.html.jinja" as article %}
{% import "include/media_html.html.jinja" as media_html %}

{% call article.post() %}
  <p>I got to go to <a href="http://www.ietf.org/meeting/87/">IETF 87</a> and the
   <a href="http://rpkiws.realmv6.org/">RPKI Deployment Strategies Workshop</a>
   in Berlin for work. Then I took advantage of the great opportunity and used
   some vacation to see Scandinavia. It was a rather amazing trip overall.</p>

  <h3>2013-07-25 &ndash; 2013-07-26</h3>
  <p>The flights from
   <a href="http://en.wikipedia.org/wiki/Logan_International_Airport">BOS</a>
   to <a href="http://en.wikipedia.org/wiki/Berlin_Tegel_Airport">TXL</a>
   were pretty uneventful. The ring layout of TXL's Terminal A was
   interesting.</p>

  <p>I then headed over to
   <a href="http://en.wikipedia.org/wiki/Berlin_Hauptbahnhof"><span lang="de">Hauptbahnhof</span></a>
   to get my <a href="http://www.eurail.com/">EuRail pass</a> activated and to
   buy some train seat reservations for the vacation portion of the trip.
   Berlin's public transit is the best I've ever seen. Throughout the week, I
   rode the
   <a href="http://en.wikipedia.org/wiki/Berlin_U-Bahn"><span lang="de">U-Bahn</span></a>,
   <a href="http://en.wikipedia.org/wiki/Berlin_S-Bahn"><span lang="de">S-Bahn</span></a>,
   <a href="http://en.wikipedia.org/wiki/Regionalbahn"><span lang="de">Regionalbahn</span></a>,
   and a bus. All of them were fast, on time, clean, and easy to navigate.
   Hauptbahnhof was huge, with lots of connections going all over the place,
   both in the Berlin area and to other parts of Europe. Stations felt safe at
   night.</p>

  <h3>2013-07-27</h3>
  <p>Breakfast at the
   <a href="http://www.ihg.com/intercontinental/hotels/gb/en/berlin/berha/hoteldetail">InterContinental</a>
   was delicious. I had liver sausage, smoked mackerel, smoked salmon, a sprat,
   scrambled eggs, pancakes with nutella, waffles, fresh fruit, a pretzel, a
   few types of cheese, feta and leek salad, and fruit juice.</p>

  <p>I got to <a href="http://www.fu-berlin.de/en/index.html"><span lang="de">Freie
   Universit&auml;t Berlin</span></a> early, so I looked at their collection of
   interesting old computers:</p>

  {{ media_html.gallery("2013-07-27") }}

  <h3>2013-07-28</h3>
  <p>(just some work stuff this day)</p>

  <h3>2013-07-29</h3>
  <p>I walked to
   <a href="http://en.wikipedia.org/wiki/Wittenbergplatz"><span lang="de">Wittenbergplatz</span></a>
   for dinner, then walked around looking for a music store. In the process, I
   ended up in the enormous department store
   <a href="http://www.kadewe.de/en"><span lang="de">KaDeWe</span></a>. They
   had an amazing selection of Legos, Fischertechnik, and lots of other cool
   toys, but not the music I was looking for.</p>

  <h3>2013-07-30</h3>
  <p>The <a href="http://www.ietf.org/meeting/87/social.html">social</a> at the
   <a href="http://www.sdtb.de/" lang="de">Deutsches Technikmuseum</a> was
   great. The trains exhibit was beautiful from an engineering perspective,
   although some of the history was unsettling (but handled well by the
   museum). The replica of Zuse's
   <a href="http://en.wikipedia.org/wiki/Z1_%28computer%29">Z1</a> was both
   pretty and fun to talk about with the other IETFers.</p>

  <h3>2013-07-31</h3>
  <p>(just some work stuff this day)</p>

  <h3>2013-08-01</h3>
  <p>I had dinner with coworkers at
   <a href="http://www.feinkost-kaefer.de/dt_bundestag10/?L=0%3Fjob%3Fjob%3DTOURISTIK_BA%3Fjob%3DVERK%EF%BF%BDUFER%3Fjob"><span lang="de">K&auml;fer</span></a>
   on the roof of the
   <a href="http://www.bundestag.de/htdocs_e/"><span lang="de">Bundestag</span></a>.
   There was a really good view from the
   <a href="http://en.wikipedia.org/wiki/Reichstag_dome">dome</a> of both the
   city and the parliament below. After dinner, we walked back to the hotel
   through the very pretty
   <a href="http://en.wikipedia.org/wiki/Tiergarten"><span lang="de">Tiergarten</span></a>.</p>

  <h3>2013-08-02</h3>
  <p>I went to a <span lang="de">biergarten</span> with a coworker.
   My K&ouml;nig Ludwig beer, pretzel, and pizza with mozzarella, basil, and
   tomato were very tasty. I finally found a city that has pretzels on par with
   or better than Philadelphia.</p>

  <p>I also had a chance to walk around and take pictures:</p>

  {{ media_html.gallery("2013-08-02") }}

  <h3>2013-08-03</h3>
  <p>Vacation! I got on the train from Berlin to
   <span lang="da">K&oslash;benhavn</span>. After a few minutes, we were going
   about 190 km/h and I didn't even realize it until I read the sign. We passed
   forests and fields of corn, grass, wind turbines, and solar cells. The train
   took a ferry between Germany and Denmark. It was nice to get out and walk
   around on the ferry.</p>

  {{ media_html.gallery("2013-08-03") }}

  <h3>2013-08-04</h3>
  <p>I took the train from <span lang="da">K&oslash;benhavn</span> to
   <span lang="sv">G&ouml;teborg</span> and from
   <span lang="sv">G&ouml;teborg</span> to <span lang="sv">Mellerud</span>. On
   the bridge between <span lang="da">K&oslash;benhavn</span> and
   <span lang="sv">Malm&ouml;</span>, I saw an offshore wind farm! I really
   don't get aesthetic complaints about wind power.
   Wind turbines are pretty. On the first train, somebody was blasting a
   remix of
   <a href="http://en.wikipedia.org/wiki/Only_Teardrops">Only Teardrops</a>.
   I was amused. On arriving in <span lang="sv">Mellerud</span>,
   I walked until I found a place to sleep:</p>

  {{ media_html.gallery("2013-08-04") }}

  <h3>2013-08-05</h3>
  <p>I understood intellectually that the night is shorter closer to the poles
   in the summer, but I didn't realize just how little sleep I'd get. I decided
   to sleep inside the remaining nights.</p>

  <p><span lang="sv">Mellerud</span> is a nice small town surrounded by
   beautiful countryside. It's near
   <a href="http://en.wikipedia.org/wiki/V%C3%A4nern">V&auml;nern</a>, the
   largest lake in the European Union. I have a few photos:</p>

  {{ media_html.gallery("2013-08-05") }}

  <p>When I got back to town, I asked a man near the train station if he knew
   if <span lang="sv">Kil</span> has hostels. He didn't speak English very
   well. He offered to lead me somewhere, but I couldn't understand where
   or why. After about a kilometer, we were in what appeared to be the town
   center, with a tourist information center. I thanked him, and the people at
   the tourist info center were very helpful.</p>

  <p>I took the train to <span lang="sv">Kil</span> and found their tourist
   info center to get directions to the nearest hostel. It was farther than I
   felt like walking after hiking and walking around all day, so I gave in and
   stayed at the
   <a href="http://www.kilshotell.com/" lang="sv">Kils Hotell</a>. The room was
   simple, but very nice. The person working there was very nice.</p>

  <p>I watched some TV in the hotel. I really liked the supermarket ads.
   They had spoken words, written words, and pictures for various types of
   food, which came in handy throughout the rest of the week. There was also a
   show with some good music.</p>

  <h3>2013-08-06</h3>
  <p>I took the train from <span lang="sv">Kil</span> to
   <span lang="no">Oslo</span>. In <span lang="no">Oslo</span>, I found
   a small cluster of antiques and second-hand stores. They had some really
   interesting things, including a butter churn, old skis, some manual SLRs and
   lenses, and a lot of furniture.</p>

  <p>In the hostel, I shared a room with three South Koreans on vacation around
   Europe and two Italians on their way to Svalbard. I may or may not be
   seriously considering visiting Seoul and Milan now.</p>

  <h3>2013-08-07</h3>
  <p>Another train, this time <span lang="no">Oslo</span> to
   <span lang="no">Finse</span>. I had a good time talking with a retired
   Canadian couple and a young Norwegian. The hostel in Finse had a bed, so I
   decided to stay there.</p>

  <p>The glacier was beautiful and the air was a pleasant 10 &deg;C. I ate
   lunch outside watching the lake and glacier. Then I decided to take a walk
   around the lake, which turned into a hike much of the way up to the
   glacier. The mountains, rocks, ponds, and snow were some of the most
   stunning scenery I've ever seen, and my pictures don't do it justice:</p>

  {{ media_html.gallery("2013-08-07") }}
  
  <h3>2013-08-08</h3>
  <p>I woke up in <span lang="no">Finse</span> to a beautiful cloudy day.
   I walked around the
   <a href="http://rallarmuseet.no/" lang="no">Rallarmuseet</a> and saw the
   biggest snow blowers I'd ever seen.</p>

  {{ media_html.gallery("2013-08-08-finse") }}

  <p>I took the train from <span lang="no">Finse</span> to
   <span lang="no">Myrdal</span>, then the <span lang="no">Fl&aring;m</span>
   railway to <span lang="no">Fl&aring;m</span>. On the
   <span lang="no">Fl&aring;m</span> railway, there was a photo stop at a
   waterfall with a wonderful surprise that I won't ruin.</p>

  {{ media_html.gallery("2013-08-08-flam-railway") }}

  <p>I got lucky again and got the last bed in the hostel in
   <span lang="no">Fl&aring;m</span>, then I walked around. The mountains,
   valley, and fjord were just as stunning as <span lang="no">Finse</span>
   the day before, but in a different way. As before, my pictures don't do it
   justice:</p>

  {{ media_html.gallery("2013-08-08-flam") }}

  <h3>2013-08-09</h3>
  <p>I woke up to another beautiful day in <span lang="no">Fl&aring;m</span>,
   then took the train back to <span lang="no">Myrdal</span> and on to
   <span lang="no">Bergen</span>.</p>

  <p><span lang="no">Bergen</span> is a wonderful city. I took a walk on a
   cobbled street and through a large park. The variety of colors of old houses
   was pretty. The park had public xylophones, glockenspiels, and a slack line.
   A few (presumably) locals asked me to play a glockenspiel for them, so I
   made something up. They applauded when I finished.</p>

  <p>The open air fish market at the docks had stalls selling all sorts of
   delicious-looking fish, both for immediate consumption and for later
   preparation. I saw salmon, whale, monkfish, live giant crabs, live lobsters,
   shrimp, mussels, and many other things. I tried some free samples at various
   booths, then settled on a delicious fish curry for dinner.</p>

  <h3>2013-08-10</h3>
  <p>I woke up early and flew home, meeting some interesting people in the
   process. The Oslo&ndash;Newark flight had a really good view of southern
   Greenland. I hope I can see those snowy fjords at ground level some day.
   It's good to be back in the land of the free (gratis bathrooms and
   water fountains, that is) and
   <a href="http://en.wikipedia.org/wiki/Contra_dance">contra dancing</a>.</p>
{% endcall %}
