{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% import "include/article.html.jinja" as article %}

{% call article.post(
  published="2024-06-01 00:00:00-04:00",
  slug="placeholder",
  title="Placeholder",
) %}
  <p>TODO: dseomn - Delete this post.</p>
{% endcall %}
