{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: CC-BY-4.0
 #}

{% import "include/article.html.jinja" as article %}
{% import "include/media_html.html.jinja" as media_html %}

{% call article.post() %}
  <p>I went to <a href="http://www.ietf.org/meeting/88/">IETF 88</a> in
   Vancouver, BC, Canada. My friend
   <a href="http://diyexplorer.com/" rel="friend">Anna</a> met me after the week
   of work and we drove a rental car out to the
   <a href="http://en.wikipedia.org/wiki/Canadian_Rockies">Rockies</a>. Anna
   brought the tunes. I especially liked
   <a href="http://www.youtube.com/watch?v=tOM-TmZBzZo">Canada is Really Big</a>
   and <a href="http://www.youtube.com/watch?v=DuGGNsE3_8Y">The Last
   Saskatchewan Pirate</a>.</p>

  <h3>2013-11-02</h3>
  <p>I parked my car at work and took the <a href="http://mbta.com/">T</a> to
   the airport. Normally, weekend mornings have very light traffic. That
   morning though, the trains were packed because of
   <a href="http://www.huffingtonpost.com/2013/11/02/red-sox-parade-photos-boston-duck-boats_n_4202545.html">some
   sort of parade</a>. I guess I'm a bit unconnected to local sports.
   On the <a href="http://en.wikipedia.org/wiki/Airbus_A320_family">A319</a>
   from
   <a href="http://en.wikipedia.org/wiki/Logan_International_Airport">BOS</a>
   to
   <a href="http://en.wikipedia.org/wiki/O%27Hare_International_Airport">ORD</a>,
   I saw a
   <a href="http://en.wikipedia.org/wiki/Glory_%28optical_phenomenon%29">glory</a>
   for my first time. In Vancouver, I got a front seat with a good view on the
   <a href="http://www.translink.ca/">SkyTrain</a>. Overall, it was an
   interesting travel day.</p>

  <p>After checking in at the hotel, I walked around looking for dinner. I
   shortly found signs for a promising-looking place. Then I took a wrong turn
   into <a href="http://www.shabusenyakiniku.com/">a place that had some really
   good sushi and Korean barbecue</a>.</p>

  <h3>2013-11-03</h3>

  <h3>2013-11-04</h3>
  <p>I wandered into a Japanese grocery store. It had a small section dedicated
   to maple syrup. For dinner, I found a really good
   <a href="http://www.yelp.com/biz/robson-mongolian-bbq-vancouver">Mongolian
   BBQ</a>.</p>

  <h3>2013-11-05</h3>

  <h3>2013-11-06</h3>
  <p>I got some pictures from near the top of my hotel:</p>

  {{ media_html.gallery("2013-11-06") }}

  <h3>2013-11-07</h3>
  <p>Since I was in Vancouver, I felt that I had to try a
   <a href="http://www.japadog.com/">JapaDog</a>. I ate it by Vancouver Harbour
   and watched the float planes taking off and landing.</p>

  {{ media_html.gallery("2013-11-07") }}

  <h3>2013-11-08</h3>

  <h3>2013-11-09</h3>
  <p>I met Anna at
   <a href="http://en.wikipedia.org/wiki/Pacific_Central_Station">Pacific
   Central Station</a>. We checked into a hostel, made some plans, ate sushi,
   and took a walk around. On Davie Street, we saw an interesting cross walk.
   A grocery store was selling a really large box of chocolates. English Bay
   Beach was pretty. We even got to walk on a dock in Vancouver Harbour.</p>

  {{ media_html.gallery("2013-11-09") }}

  <h3>2013-11-10</h3>
  <p>We got cr&ecirc;pes for breakfast, then walked to
   <a href="http://en.wikipedia.org/wiki/Canada_Place">Canada Place</a> on the
   Harbour so Anna could see the float planes. From there we headed to
   <a href="http://en.wikipedia.org/wiki/Gastown">Gastown</a> to see
   <a href="http://en.wikipedia.org/wiki/Gastown#The_Gastown_Steam_Clock">a big
   clock</a>.</p>

  {{ media_html.gallery("2013-11-10") }}

  <p>We picked up a 2014
   <a href="http://en.wikipedia.org/wiki/Ford_Fiesta">Ford Fiesta</a> from a
   rental agency at the airport and drove to
   <a href="http://en.wikipedia.org/wiki/Salmon_Arm">Salmon Arm</a>.</p>

  <h3>2013-11-11</h3>
  <p>At
   <a href="http://www.tripadvisor.com/Restaurant_Review-g181773-d3620191-Reviews-PJ_s_Family_Restaurant-Salmon_Arm_British_Columbia.html">breakfast</a>,
   I asked if my pancakes could be made with chocolate chips. The waitress said
   she had never heard of chocolate chip pancakes before, but she seemed
   excited by the idea and said she would ask the cook. The cook had never made
   them before, so s/he had to make a practice one first. I think that was just
   an excuse to try one.</p>

  {{ media_html.gallery("2013-11-11-breakfast") }}

  <p>After breakfast, we walked around
   <a href="http://www.salmonarm.ca/Facilities/Facility/Details/7">Marine Peace
   Park</a>. The park was beautiful and the air smelled really good.</p>

  {{ media_html.gallery("2013-11-11-marine-peace-park") }}

  <p>From there, we drove to
   <a href="http://en.wikipedia.org/wiki/Golden,_British_Columbia">Golden</a>,
   stopping occasionally for pictures (and occasionally taking pictures through
   the windshield).
   <a href="http://en.wikipedia.org/wiki/Glacier_National_Park_%28Canada%29">Glacier
   National Park</a> was stunning.</p>

  {{ media_html.gallery("2013-11-11-drive-to-golden") }}

  <p>Golden was one of my favorite places on the trip.
   <a href="http://www.islandrestaurant.ca/">The Island Restaurant</a> had an
   excellent bison burger, and Anna and I shared a roasted duck salad. The
   chocolatissimo chocolate cake was quite tasty too. We stayed at the
   <a href="http://www.dreamcatcherhostel.com/">Dreamcatcher Hostel</a>. The
   lounge was incredibly cozy, with a central fireplace, a black lab, a golden
   retriever (in Golden!), and a piano and other instruments.</p>

  {{ media_html.gallery("2013-11-11-golden") }}

  <h3>2013-11-12</h3>
  <p>The breakfast at
   <a href="http://www.goldenchamber.bc.ca/listing/big-bend-cafe">Big Bend
   Cafe</a> was outstanding. We stopped at two outdoors stores to get bear
   spray and ice traction things. They didn't have what we were looking for,
   but they told us where we could get them in Lake Louise. Then we walked
   around town for a few minutes before leaving.</p>

  {{ media_html.gallery("2013-11-12-golden") }}

  <p>On the drive from Golden to
   <a href="http://en.wikipedia.org/wiki/Lake_Louise,_Alberta">Lake Louise</a>,
   we saw a few <a href="http://en.wikipedia.org/wiki/Bighorn_sheep">bighorn
   sheep</a> on the side of the road. We also drove around
   <a href="http://en.wikipedia.org/wiki/Field,_British_Columbia">Field</a>
   looking for gas.</p>

  {{ media_html.gallery("2013-11-12-drive") }}

  <p>We got the bear spray and Yaktrax at
   <a href="http://www.wmsll.com/">Wilson's</a> like the people in Golden said
   we would, then we checked into the hostel. We drove up to the lake and
   walked around in the cool mountain air.</p>

  {{ media_html.gallery("2013-11-12-lake") }}

  <h3>2013-11-13</h3>
  <p>We rented cross-country skis and skied most of the way up Moraine Lake
   Road. It was a nice start to the ski season. On the way back, we met
   <a href="http://skierbob.ca/2013/11/grooming-trails-involves-more-than-driving-a-snowmobile/" rel="met">Skier
   Bob</a> who took
   <a href="http://skierbob.ca/wp-content/gallery/great-divide-nov-13-2013/SAM_2053.JPG">a
   picture of us</a>.</p>

  {{ media_html.gallery("2013-11-13") }}

  <p>After returning the skis, we drove to
   <a href="http://en.wikipedia.org/wiki/Banff,_Alberta">Banff</a> for some
   <a href="http://www.eddieburgerbar.ca/">delicious burgers</a> followed by
   <a href="http://www.pc.gc.ca/voyage-travel/sources-springs/banff/banff.aspx">hot
   springs</a>. We did a little bit of swing dancing in the pool. It was
   snowing part of the time, but the air was too hot for the snow to reach
   us.</p>

  <h3>2013-11-14</h3>
  <p>We drove the
   <a href="http://en.wikipedia.org/wiki/Icefields_Parkway">Icefields
   Parkway</a> to
   <a href="http://en.wikipedia.org/wiki/Jasper,_Alberta">Jasper</a>. It was
   a beautiful drive with interesting side hikes.</p>

  {{ media_html.gallery("2013-11-14") }}

  <p>The person working at the hostel in Jasper recommended a sushi place
   called <a href="http://www.fairmont.com/jasper/dining/okasushi/">Oka</a>.
   It was the best sushi I've ever had. We got the chef's choice, and Oka made
   some very good choices. I especially liked the toro nigiri.</p>

  <h3>2013-11-15</h3>
  <p>We checked out
   <a href="http://en.wikipedia.org/wiki/Maligne_Canyon">Maligne
   Canyon</a>.</p>

  {{ media_html.gallery("2013-11-15-maligne") }}

  <p>Then headed on to
   <a href="http://en.wikipedia.org/wiki/Medicine_Lake_%28Alberta%29">Medicine
   Lake</a>.</p>

  {{ media_html.gallery("2013-11-15-medicine-lake") }}

  <p>We turned around at Medicine Lake and headed back down the Icefields
   Parkway. First we stopped at
   <a href="http://en.wikipedia.org/wiki/Athabasca_Falls">Athabasca Falls</a>.
   Then we saw more bighorn sheep. Next, we walked around near
   <a href="http://en.wikipedia.org/wiki/Athabasca_Glacier">Athabasca
   Glacier</a> and did a photoshoot. The weather at the glacier was very nice.
   It was about -4&deg;C and intermittently very windy.</p>

  {{ media_html.gallery("2013-11-15-icefields") }}

  <p>We stopped at
   <a href="http://www.hihostels.com/dba/hostels-HI---Rampart-Creek-Wilderness-Hostel-011069.en.htm">HI&ndash;Rampart
   Creek Wilderness Hostel</a> for the night. It was a great qualitative
   halfway point between a backpacking hut and a more normal hostel. It had
   outhouses, not indoor plumbing. The lighting was battery powered and the
   batteries were occasionally recharged by a generator. The parking lot was
   below the hill that our front wheel drive car couldn't climb anyway. Most
   importantly, there was a sauna. After dinner, we went to the sauna. For the
   first sauna break, we stood by the snow-covered creek looking at the
   nearly-full moon. The next break was for rolling around in the snow. The
   break after that was for a brief snowball fight. After the snowball fight,
   two ice climbers from Calgary joined us in the sauna and we talked for a
   while.</p>

  <h3>2013-11-16</h3>
  <p>It was nice to wake up and walk over snow on my way to the bathroom.
   Before leaving, I took some pictures of the hostel:</p>

  {{ media_html.gallery("2013-11-16-hostel") }}

  <p>We back-tracked a bit on the Icefields Parkway to see some waterfalls.</p>

  {{ media_html.gallery("2013-11-16-icefields") }}

  <p>Then we headed back towards Banff to see
   <a href="http://en.wikipedia.org/wiki/Johnston_Creek_%28Alberta%29#Johnston_Canyon">Johnston
   Canyon</a>.</p>

  {{ media_html.gallery("2013-11-16-johnston") }}

  <p>After Johnston Canyon, we drove back to Golden via
   <a href="http://en.wikipedia.org/wiki/Radium_Hot_Springs,_British_Columbia">Radium</a>.
   On the way to Radium, we saw a whole herd of over a dozen bighorn sheep.
   Back at the Dreamcatcher Hostel, one of the other guests gave me a local
   beer from Revelstoke.</p>

  <h3>2013-11-17</h3>
  <p>For breakfast (at the Big Bend Cafe of course), I had poached eggs (with
   lime hot sauce), bacon, ham, sausage, pan fries, a multigrain pancake,
   and a slice of whole wheat french toast. It was delicious.</p>

  <p>We drove back to Vancouver via
   <a href="http://en.wikipedia.org/wiki/Kelowna">Kelowna</a>. The drive was
   pretty, and it was interesting to see traffic lights and traffic again.</p>

  <h3>2013-11-18</h3>
  <p>I met a couple from
   <a href="http://en.wikipedia.org/wiki/Bavaria">Bavaria</a> at the hostel's
   breakfast. They were in Vancouver to work for a bit before traveling around
   Canada, and we talked a bit about our travels. Anna met me a bit later at
   breakfast, then we parted ways.</p>

  <p>I spent the rest of the morning hanging out in the hostel lounge. A Swiss
   man told me about the mountains in Switzerland. I learned that a lot of
   Australians go to Vancouver and the surrounding mountains to work for the
   winter because they like snow and the Canadian work visas are relatively
   easy for them to get.</p>

  <p>For lunch, I decided to walk to Chinatown to find something spicy. About
   halfway there, I saw a <a href="http://www.jinya-ramenbar.com/">Japanese
   noodle soup place</a> that was advertising red ramen soup with spiciness
   anywhere between 1 and 10. I got the 7 and it was amazing.</p>

  <h3>2013-11-19</h3>
  <p>I woke up rather early and walked to the SkyTrain station. On the
   platform, I met a construction worker on his way to work and we talked most
   of the way to airport. My flights were pretty uneventful. Then I went home
   and slept.</p>
{% endcall %}
