{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: CC-BY-4.0
 #}

{% import "include/article.html.jinja" as article %}
{% import "include/media_html.html.jinja" as media_html %}

{% call article.post() %}
  <p>Last Saturday, I went to the
   <a href="http://capitalcitygrange.org/contradances">Montpelier Contra Dance</a>
   with <a href="http://www.giantrobotdance.com/">Giant Robot Dance</a>. The
   dance was very fun. Also, here are some pictures I took before it:</p>

  {{ media_html.gallery("main") }}
{% endcall %}
