{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% set media = ginjarator.py.import_("dseomn_website.media") %}

{% import "include/cache_buster.ninja.jinja" as cache_buster %}

{{ cache_buster.rules }}

rule image_convert
  command = magick $in $args $out
  description = CONVERT $in ($conversion)

rule image_metadata
  command = magick -define json:version=1.0 $in $out
  description = METADATA $in

{% for image_output in media.all_image_outputs() %}
build $
    {{ ginjarator.to_ninja(image_output.work_path) }} $
    : $
    image_convert $
    {{ ginjarator.to_ninja(image_output.source) }}
  args = {{ ginjarator.to_ninja(
    image_output.conversion.magick_args,
    escape_shell=true,
  ) }}
  conversion = {{ ginjarator.to_ninja(image_output.conversion.suffix) }}
build $
    {{ ginjarator.to_ninja(image_output.metadata_path) }} $
    : $
    image_metadata $
    {{ ginjarator.to_ninja(image_output.work_path) }}
{{ cache_buster.build(
  to_hash=image_output.work_path,
  work_prefix=image_output.cache_buster_path,
  prefix=image_output.cache_buster_prefix,
  suffix=image_output.cache_buster_suffix,
) }}
{% endfor %}
