{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: CC-BY-4.0
 #}

{% import "include/article.html.jinja" as article %}
{% import "include/media_html.html.jinja" as media_html %}

{% call article.post() %}
  <p>I had some free time today, so I wandered around until I found
   <a href="http://www.harvardconservationtrust.org/maps/bowers_springs.pdf">Bare Hill Wildlife Sanctuary</a> in Harvard, MA. Then I played around with
   hand-held somewhat-long exposure,
   <a href="http://en.wikipedia.org/wiki/Image_stitching">image stitching</a>,
   and <a href="http://en.wikipedia.org/wiki/High-dynamic-range_imaging">HDR</a>:</p>

  {{ media_html.gallery("main") }}
{% endcall %}
