{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: CC-BY-4.0
 #}

{% import "include/article.html.jinja" as article %}

{% call article.post() %}
  <p>This is a blog post. I've read that the majority of blogs have no more posts after the first. We shall see if this is also the last post on this blog.</p>
{% endcall %}
