{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: CC-BY-4.0
 #}

{% import "include/article.html.jinja" as article %}
{% import "include/media_html.html.jinja" as media_html %}

{% call article.post() %}
  <p>Another <a href="http://www.ietf.org/meeting/89/">IETF</a>, another
   adventure, this time to London, United Kingdom. When I was planning the trip,
   my friend Emily mentioned a dance festival in Scotland that she was going to.
   So I decided to meet her there before the IETF.</p>

  <h2>2014-02-27 &ndash; 2014-02-28</h2>
  <p>The flights from Boston to Edinburgh were relatively uneventful, though
   there was some pleasant turbulence over the Atlantic. I took a double decker
   bus from Edinburgh airport to the city center, and I got to ride on top in
   the front with a good view.</p>

  <p>Emily met me in the hostel I was staying at and we decided to go see
   Edinburgh Castle. On the way there, we saw two halves of a fake cow. In
   the Prisons of War (part of the castle), we saw
   <a href="http://labyrinth.wikia.com/wiki/The_Worm">The Worm</a>'s cousin's
   home.</p>

  {{ media_html.gallery("2014-02-27--2014-02-28") }}

  <p>After we left the castle, we ran into Joey, one of Emily's hostel-mates.
   We went to a fudge shop that she recommended, then got
   delicious <a href="http://en.wikipedia.org/wiki/Thali">thalis</a> for lunch.
   After lunch, jet-lag set in for me and I hung out in the hostel lounge. For
   dinner, Emily and I each tried
   <a href="http://en.wikipedia.org/wiki/Haggis">haggis</a> (with neeps and
   tatties) for the first time. To me, it tasted halfway between meat and
   <a href="http://en.wikipedia.org/wiki/Textured_vegetable_protein">TVP</a>.
   I'd eat it again if I were hungry, but it wouldn't be my first choice.
   As I was trying hard to stay awake after dinner in the hostel lounge, there
   was a very boistrous impromtu guitar and Italian song duet.</p>

  <h2>2014-03-01</h2>
  <p>I was walking around in the afternoon, and ran into Joey again. We sat
   and talked for a bit, then went to the
   <a href="http://en.wikipedia.org/wiki/National_Museum_of_Scotland">National
   Museum of Scotland</a>.</p>

  {{ media_html.gallery("2014-03-01") }}

  <p>On my way to <a href="http://www.ivfdf2014.org.uk/">the dance</a>, I got
   a bit lost. Luckily, I ran into three women dressed like folk dancers. They
   were also lost, but less so than me. At one point, we all danced across a
   street. Eventually we found our way to the dance hall. The dancing was very
   familiar, though there were a few differences from what I'm used to. I
   really liked the square dances, because they were taught like traditional
   squares but were more complex. After the dance, Emily and I got
   late-night/early-morning pizza at Dominos.</p>

  <h2>2014-03-02</h2>
  <p>Emily joined me on a quest to find a specific type of za'atar at a store
   called Jordan Valley for a friend back home. The quest was only a partial
   success (the specific type of za'atar didn't exist any more, so I got a
   different type). However, the experience was great: The store's owner was
   very friendly and even made tea for Emily and me. When he saw we were each
   planning to get a bottle of hot sauce, he told us that his was better. He
   then proceeded to back up his claim by letting us taste his homemade harissa
   on some bread. I bought two containers of the harissa.</p>

  <p>After leaving Jordan Valley, we then headed over to a pub that was highly
   recommended by one of our mutual friends. At
   <a href="http://www.thebansheelabyrinth.com/">The Banshee Labyrinth</a>, we
   each got a cocktail and a burger. I had a wild boar and chorizo burger with
   bacon, pepperoni, an egg, goat cheese, and pesto. It was a tasty
   combination.</p>

  {{ media_html.gallery("2014-03-02") }}
  
  <h2>2014-03-03</h2>
  <p>I took the train from Edinburgh to London. There were some good views of
   the east coast and lots of farmland. As we were approaching London King's
   Cross, I saw a rainbow out the window.</p>

  <h2>2014-03-04</h2>
  <p>The hotel was a bit fun to navigate, but luckily the IETF Secretariat made
   an <a href="https://www.youtube.com/watch?v=nXFpog3B8hY">instructional
   video</a>.</p>

  <p>The IETF social event was at the
   <a href="http://www.museumoflondon.org.uk/docklands/">Museum of London
   Docklands</a>. There were a few really good human statues, and the first one
   managed to surprise me. Another one was holding what I thought at the time
   was a <a
   href="http://en.wikipedia.org/wiki/Rabbit_of_Caerbannog#Holy_Hand_Grenade_of_Antioch">Holy
   Hand Grenade</a>. When I asked her about it, she held it out and squeezed
   it. Turns out it was a squeaky toy. [As I was writing this, I did some
   reading, and I now think it was actually meant to be a <a
   href="http://en.wikipedia.org/wiki/Sovereign's_Orb">Sovereign's Orb</a>,
   not a Holy Hand Grenade. Shows where my education was.] And here are some
   pictures from outside the museum:</p>

  {{ media_html.gallery("2014-03-04") }}

  <h2>2014-03-05</h2>

  <h2>2014-03-06</h2>
  <p>After being in London for three days, I finally got fish and chips. It was
   good. I also went to a fun salsa dancing lesson with colleagues.</p>

  <h2>2014-03-07</h2>
  <p>While eating lunch, I heard a funny line on TV that was something like
   <q>Even the typical Scottish weather failed to dampen &hellip; spirits.</q>
   Later on, I saw a <a
   href="http://en.wikipedia.org/wiki/TARDIS">TARDIS</a>!</p>

  {{ media_html.gallery("2014-03-07") }}

  <h2>2014-03-08</h2>
  <p>While waiting for breakfast, I saw what looked like a sewage truck drive
   by. It had <q>TARDIS Environmental UK</q> printed on it. Apparently, <a
   href="http://www.tardishire.co.uk/">that</a>'s a real thing.</p>

  <p>After breakfast, I set off on the day's adventures. First, I took the tube
   to Blackfriars station and wandered around in the general direction of <a
   href="http://www.shakespearesglobe.com/">Shakespeare's Globe</a>. The <a
   href="http://en.wikipedia.org/wiki/Millennium_Bridge,_London">Millennium
   Bridge</a> was neat.</p>

  {{ media_html.gallery("2014-03-08-1") }}

  <p>I took a tour of the Globe, then wandered around the exhibition.</p>

  {{ media_html.gallery("2014-03-08-2") }}

  <p>Then I wandered around a bit more, heading in the general direction of
   Waterloo station.</p>

  {{ media_html.gallery("2014-03-08-3") }}

  <p>Earlier in the week, Emily had mentioned a really unusual London activity,
   <a href="http://lootours.com/">Loo Tours</a>. I knew I had to check it out
   if I had time. So, at Waterloo, my second tour of the day commenced. Rachel
   (The Loo Lady) was entertaining, and I learned a bit about London's toilet
   history.</p>

  {{ media_html.gallery("2014-03-08-4") }}

  <h2>2014-03-09</h2>
  <p>Time to go home. The flight over the Atlantic was really surprisingly not
   even close to full. I got a port-side window seat with an empty seat next to
   me. I had a good view of northern Labrador and Qu&eacute;bec.</p>
{% endcall %}
