{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: CC-BY-4.0
 #}

{% set metadata = ginjarator.py.import_("dseomn_website.metadata") %}

{% import "include/article.html.jinja" as article %}
{% import "include/media_html.html.jinja" as media_html %}

{% call article.post() %}
  {% set post_metadata = metadata.Post.load(ginjarator.current_template) %}

  <div class="figure-float">
    <a href="http://dseomn.deviantart.com/art/Mt-Monadnock-2-134483093">
      {{ media_html.image(
        post_metadata.media.item_by_source_str[
          "../private/posts/2010-10-09-department-of-survival/Mt__Monadnock_2_by_dseomn-400x300.jpg"
        ],
        "float",
      ) }}
    </a>
  </div>

  <div class="figure-float">
    <a href="http://dseomn.deviantart.com/art/Snowy-Stream-48044184">
      {{ media_html.image(
        post_metadata.media.item_by_source_str[
          "../private/posts/2010-10-09-department-of-survival/Snowy_Stream_by_dseomn-400x300.jpg"
        ],
        "float",
      ) }}
    </a>
  </div>

  <p>I wish <a href="http://www.brandeis.edu/">Brandeis</a> had an academic department that offered classes relating to surviving in unusual circumstances. There would be a slight possibility of saving the lives of Brandeis students and alumns. The research done by faculty or students could likely help save the lives of other people. Even without saving any lives, it would be an interesting thing to put in promotional material that could differentiate Brandeis from other colleges and universities.</p>

  <p>Here are some ideas that I had for classes the new Survival Department could offer:</p>

  <ul>
   <li>Introduction to Survival</li>

   <li>Finding, Extracting, Purifying, and Storing Water</li>

   <li>
    Introduction to Foraging
    <ul>
     <li>Edible Fungi</li>
    </ul>
   </li>

   <li>
    Introduction to <a href="http://en.wikipedia.org/wiki/Hunting">Hunting</a>
    <ul>
     <li><a href="http://en.wikipedia.org/wiki/Animal_trapping">Trapping</a></li>
     <li><a href="http://en.wikipedia.org/wiki/Musket">Musketry</a> and <a href="http://en.wikipedia.org/wiki/Rifle">Riflery</a></li>
     <li><a href="http://en.wikipedia.org/wiki/Bow_(weapon)">Bows</a>, <a href="http://en.wikipedia.org/wiki/Atlatl">Atlatls</a>, and <a href="http://en.wikipedia.org/wiki/Slingshot">Slingshots</a>, Oh My</li>
     <li>Carcasses: Butchering, <a href="http://en.wikipedia.org/wiki/Smoking_(cooking)">Smoking</a>, <a href="http://en.wikipedia.org/wiki/Salting_(food)">Salting</a>, and <a href="http://en.wikipedia.org/wiki/Tanning">Tanning</a></li>
    </ul>
   </li>
   
   <li>Emergency Psychology (cross-listed in Psychology)</li>

   <li>
    Introduction to Self-Defense
    <ul>
     <li>Defense Against Humans</li>
     <li>Defense Against Predatory Animals</li>
    </ul>
   </li>

   <li>Making Tools</li>

   <li>Finding and Making Shelter</li>

   <li>Creating and Maintaining Fire</li>

   <li>Making String, Rope, and Cloth</li>

   <li><a href="http://en.wikipedia.org/wiki/Distress_signal">Emergency Signaling</a></li>

   <li>
    Emergency Medicine
    <ul>
     <li>Medicinal Herbs</li>
    </ul>
   </li>

   <li>Readjusting to Civilization (cross-listed in Psychology and Sociology)</li>
  </ul>

  <p>I think even one class along these lines would make Brandeis a much more interesting place and could make a Brandeis education much more valuable. Also, if anybody even <em>thinks</em> that a class helped them to save their life, they might be more likely to donate money to Brandeis.</p>
{% endcall %}
