{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% import "include/article.html.jinja" as article %}

{% call article.post() %}
  <p>TODO: dseomn - Delete this post.</p>
{% endcall %}
