{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% set subprocess = ginjarator.py.import_("subprocess") %}
{% set tomllib = ginjarator.py.import_("tomllib") %}

{% set pagination = ginjarator.py.import_("dseomn_website.pagination") %}
{% set paths = ginjarator.py.import_("dseomn_website.paths") %}

{% import "include/base_html.html.jinja" as base_html %}

{% set site_metadata = tomllib.loads(
  ginjarator.fs.read_text("include/site_metadata.toml")
) %}

{% set posts_per_page = 10 %}
{% set posts_per_feed = 20 %}

{% macro page_url_path(list_url_path, page_number) %}
  {{- list_url_path -}}
  {%- if page_number != 1 -%}
    page/{{ page_number }}/
  {%- endif -%}
{% endmacro %}

{% macro pagination_nav(list_url_path, current, total) %}
  <nav>
    <ol class="pagination-list">
      {% if current > 1 %}
        <li>
          <a
              class="pagination-item pagination-item-page"
              href="{{ page_url_path(list_url_path, current - 1) | e }}"
              rel="prev"
              >
            <span aria-label="previous page" role="img">⎗</span>
          </a>
        </li>
      {% endif %}
      {% for page in pagination.nav(current=current, total=total) %}
        {% if page is none %}
          <li>
            <span class="pagination-item pagination-item-ellipsis">…</span>
          </li>
        {% elif page == current %}
          <li>
            <span
                aria-current="page"
                class="pagination-item pagination-item-page"
                >
              {{ page }}
            </span>
          </li>
        {% else %}
          <li>
            <a
                class="pagination-item pagination-item-page"
                href="{{ page_url_path(list_url_path, page) | e }}"
                >
              {{ page }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
      {% if current < total %}
        <li>
          <a
              class="pagination-item pagination-item-page"
              href="{{ page_url_path(list_url_path, current + 1) | e }}"
              rel="next"
              >
            <span aria-label="next page" role="img">⎘</span>
          </a>
        </li>
      {% endif %}
    </ol>
  </nav>
{% endmacro %}

{#
 # Map from info about a blog post list to the list of posts in it. The info is
 # (url path, list title) and each post in the list is (metadata, work path)
 #}
{% set lists = {} %}
{% for template_path in ginjarator.fs.read_config().templates
  if template_path.is_relative_to("posts")
  and (template_path | string) != "posts/lists.html.jinja"
%}
  {% set metadata = tomllib.loads(
    ginjarator.fs.read_text(template_path.parent / "metadata.toml")
  ) %}
  {% set work_path = "work/posts/" + template_path.parent.name %}
  {% do lists.setdefault(("/", "Blog"), []).append((metadata, work_path)) %}
{% endfor %}

{% for (list_url_path, list_title), list_posts in lists.items() %}
  {% set feed_url_path = list_url_path + "feed/" %}

  {% for page_posts in (
    list_posts |
    sort(reverse=true, attribute="0.published") |
    batch(posts_per_page)
  ) %}
    {% set extra_head %}
      <link
          href="{{ feed_url_path | e }}"
          rel="alternate"
          type="application/atom+xml"
          >
    {% endset %}
    {% call base_html.write(
      url_path=page_url_path(list_url_path, loop.index),
      title=list_title + (
        "" if loop.index == 1 else " (page " + loop.index | string + ")"
      ),
      site_title_is_h1=true,
      extra_head=extra_head,
    ) %}
      {% if not loop.first %}
        <header class="list-header">
          {{ pagination_nav(
            list_url_path=list_url_path,
            current=loop.index,
            total=loop.length,
          ) }}
        </header>
      {% endif %}
      {% for _, work_path in page_posts %}
        {{ ginjarator.fs.read_text(work_path + "/include-fragment.html") }}
      {% endfor %}
      {% if loop.length > 1 %}
        <footer class="list-footer">
          {{ pagination_nav(
            list_url_path=list_url_path,
            current=loop.index,
            total=loop.length,
          ) }}
        </footer>
      {% endif %}
    {% endcall %}
  {% endfor %}

  {% set feed_posts = (
    list_posts |
    sort(reverse=true, attribute="0.published")
  )[:posts_per_feed] %}
  {% set feed -%}
    <?xml version="1.0" encoding="utf-8"?>
    <feed
        xml:base="{{ site_metadata.url | e }}"
        xml:lang="{{ site_metadata.language | e }}"
        xmlns="http://www.w3.org/2005/Atom"
        >
      <author><name>{{ site_metadata.author | e }}</name></author>
      <id>{{ site_metadata.url | e }}{{ list_url_path | e }}</id>
      <link href="{{ list_url_path | e }}" rel="alternate"/>
      <link href="{{ feed_url_path | e }}" rel="self"/>
      <title>{{ list_title | e }} — {{ site_metadata.title | e }}</title>
      <updated>{{ (feed_posts | first)[0].published.isoformat() | e }}</updated>
      {% for _, work_path in feed_posts %}
        {{ ginjarator.fs.read_text(work_path + "/atom-fragment.xml") }}
      {% endfor %}
    </feed>
  {% endset %}
  {% set feed_minified = subprocess.run(
    ("minify", "--type=xml"),
    input=feed,
    stdout=subprocess.PIPE,
    check=true,
    text=true,
  ).stdout %}
  {% do ginjarator.fs.write_text(
    paths.from_url_path(feed_url_path, dir_index="index.xml"),
    feed_minified,
  ) %}
{% endfor %}
