{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% set metadata = ginjarator.py.import_("dseomn_website.metadata") %}
{% set pagination = ginjarator.py.import_("dseomn_website.pagination") %}

{% import "include/base_html.html.jinja" as base_html %}

{% macro pagination_prev_next(
  list_metadata,
  target,
  total,
  box_class,
  rel,
  label,
  text
) %}
  {% set contents %}
    <span aria-label="{{ label | e }}" role="img">{{ text | e }}</span>
  {% endset %}
  {% if 1 <= target <= total %}
    <li class="{{ box_class | e}}">
      <a
          class="pagination-item pagination-item-page"
          href="{{ list_metadata.page_by_number[target].url_path | e }}"
          rel="{{ rel | e }}"
          >
        {{ contents }}
      </a>
    </li>
  {% else %}
    <li class="{{ box_class | e }} pagination-item-box-hidden">
      <span class="pagination-item pagination-item-page">
        {{ contents }}
      </span>
    </li>
  {% endif %}
{% endmacro %}

{% macro pagination_list_pages(list_metadata, current, total) %}
    <ol class="pagination-list">
      {{ pagination_prev_next(
        list_metadata=list_metadata,
        target=current - 1,
        total=total,
        box_class="pagination-item-box-prev",
        rel="prev",
        label="previous page",
        text="←",
      ) }}
      {% for page in pagination.nav(current=current, total=total) %}
        {% if page is none %}
          <li>
            <span class="pagination-item pagination-item-ellipsis">…</span>
          </li>
        {% elif page == current %}
          <li>
            <span
                aria-current="page"
                class="pagination-item pagination-item-page"
                >
              {{ page }}
            </span>
          </li>
        {% else %}
          <li>
            <a
                class="pagination-item pagination-item-page"
                href="{{ list_metadata.page_by_number[page].url_path | e }}"
                >
              {{ page }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
      {{ pagination_prev_next(
        list_metadata=list_metadata,
        target=current + 1,
        total=total,
        box_class="pagination-item-box-next",
        rel="next",
        label="next page",
        text="→",
      ) }}
    </ol>
{% endmacro %}

{% macro pagination_list_years(list_metadata) %}
      <ol class="pagination-list">
        {% for year, link in list_metadata.link_by_year.items() %}
          {% if not loop.first and loop.previtem[0] != year + 1 %}
            <li>
              <span class="pagination-item pagination-item-ellipsis">…</span>
            </li>
          {% endif %}
          <li>
            <a
                class="pagination-item pagination-item-jump"
                href="{{ link | e }}"
                >
              <time>{{ year | e }}</time>
            </a>
          </li>
        {% endfor %}
      </ol>
{% endmacro %}

{% for list_metadata in metadata.PostList.all() %}
  {% for page_metadata in list_metadata.page_by_number.values() %}
    {% set extra_head %}
      <link
          href="{{ list_metadata.feed.url_path | e }}"
          rel="alternate"
          type="application/atom+xml"
          >
    {% endset %}
    {% set show_list_title = list_metadata.url_path != "/" %}
    {% call base_html.write(
      page_metadata=page_metadata,
      site_title_is_h1=not show_list_title,
      extra_head=extra_head,
    ) %}
      {% if show_list_title or not loop.first %}
        <header class="list-header">
          {% if show_list_title %}
            <h1 class="h1 list-header-title">{{ list_metadata.title | e }}</h1>
          {% endif %}
          {% if not loop.first %}
            <nav class="list-nav">
              {{ pagination_list_pages(
                list_metadata=list_metadata,
                current=loop.index,
                total=loop.length,
              ) }}
            </nav>
          {% endif %}
        </header>
      {% endif %}
      {% for post_metadata in page_metadata.posts %}
        {{ ginjarator.fs.read_text(post_metadata.include_fragment_path) }}
      {% endfor %}
      {% if loop.length > 1 %}
        <footer class="list-footer">
          <nav class="list-nav">
            {{ pagination_list_pages(
              list_metadata=list_metadata,
              current=loop.index,
              total=loop.length,
            ) }}
            {% if list_metadata.link_by_year | length > 1 %}
              {{ pagination_list_years(list_metadata=list_metadata) }}
            {% endif %}
          </nav>
        </footer>
      {% endif %}
    {% endcall %}
  {% endfor %}
{% endfor %}
