{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: CC-BY-4.0
 #}

{% import "include/error.html.jinja" as error %}

{% call error.page() %}
  <p>
    Unfortunately, I couldn’t find the page you were looking for. I found this
    instead though. Does this help?
  </p>

  <p>TODO: dseomn - Add image.</p>
{% endcall %}
