{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% set headings = ginjarator.py.import_("dseomn_website.headings") %}

{% import "include/base_html.html.jinja" as base_html %}

{% macro standalone(
  url_path,
  title
) %}
  {% set fragment %}
    <article class="article">
      <h1>{{ title | e }}</h1>
      {{ caller() }}
    </article>
  {% endset %}
  {% call base_html.write(url_path=url_path, title=title) %}
    {{ headings.article(fragment) }}
  {% endcall %}
{% endmacro %}
