{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% set fonts = ginjarator.py.import_("dseomn_website.fonts") %}
{% set iri = ginjarator.py.import_("dseomn_website.iri") %}
{% set lint = ginjarator.py.import_("dseomn_website.lint") %}
{% set media = ginjarator.py.import_("dseomn_website.media") %}
{% set metadata = ginjarator.py.import_("dseomn_website.metadata") %}
{% set minify = ginjarator.py.import_("dseomn_website.minify") %}
{% set paths = ginjarator.py.import_("dseomn_website.paths") %}

{% macro a_mailto(to) -%}
  <a href="{{ iri.mailto(to) | e }}">{{ to | e }}</a>
{%- endmacro %}

{% macro time_from_datetime(value) -%}
  {%- set isoformat = value.isoformat(sep=" ") -%}
  {%- do ginjarator.py.assert_(isoformat.endswith("+00:00")) -%}
  <time>{{ isoformat.removesuffix("+00:00") | e }}Z</time>
{%- endmacro %}

{% macro write(
  page_metadata,
  site_title_is_h1=false,
  extra_head=''
) %}
  {% set contents -%}
    <!doctype html>
    <html
        dir="{{ metadata.SITE.direction | e }}"
        lang="{{ metadata.SITE.language | e }}"
        >
      <head>
        <meta charset="utf-8">
        {% set main_css = ginjarator.fs.read_text(
          "work/css/main.css.cache-buster-output-filename"
        ) %}
        {% if main_css is not none %}
          <link rel="stylesheet" href="{{ paths.to_url_path(main_css) | e }}">
        {% endif %}
        {% for font in fonts.FONTS if font.url_path is not none %}
          <link
              as="font"
              crossorigin="anonymous"
              href="{{ font.url_path | e }}"
              rel="preload"
              type="font/woff2"
              >
        {% endfor %}
        {% for favicon_output in media.IMAGE_PROFILES.favicon.unique_outputs(
          media.FAVICON
        ) if none not in (favicon_output.url_path, favicon_output.metadata) %}
          <link
              rel="icon"
              href="{{ favicon_output.url_path | e }}"
              type="{{ favicon_output.metadata.mime_type | e }}"
              sizes="{{ favicon_output.metadata.width -}}
                     x
                     {{- favicon_output.metadata.height }}"
              >
        {% endfor %}
        <title>{{ page_metadata.full_title | e }}</title>
        <meta name="viewport" content="width=device-width">
        {% for media_item in page_metadata.media.item_by_source.values()
          if media_item.opengraph
        %}
          {% if media_item.type_ == "image" %}
            {% for opengraph_output
              in media.IMAGE_PROFILES.opengraph.unique_outputs(
                media_item.source
              ) if none not in (
                opengraph_output.url_path,
                opengraph_output.metadata,
              )
            %}
              <meta
                  property="og:image"
                  content="{{ opengraph_output.url_path | e }}"
                  >
              <meta
                  property="og:image:type"
                  content="{{ opengraph_output.metadata.mime_type | e }}"
                  >
              <meta
                  property="og:image:width"
                  content="{{ opengraph_output.metadata.width | e }}"
                  >
              <meta
                  property="og:image:height"
                  content="{{ opengraph_output.metadata.height | e }}"
                  >
              <meta property="og:image:alt" content="{{ media_item.alt | e }}">
            {% endfor %}
          {% else %}
            {% do ginjarator.py.assert_(false) %}
          {% endif %}
        {% endfor %}
        <meta
            property="og:locale"
            content="{{ metadata.SITE.language.replace("-", "_") | e }}"
            >
        <meta property="og:site_name" content="{{ metadata.SITE.title | e }}">
        <meta property="og:title" content="{{ page_metadata.title | e }}">
        <meta property="og:url" content="{{ page_metadata.url | e }}">
        {{ extra_head }}
      </head>
      <body>
        <header class="site-header">
          <div class="site-header-inner">
            {% if site_title_is_h1 %}
              <h1 class="h1 site-header-title">
                {{ metadata.SITE.title | e }}
              </h1>
            {% else %}
              <p class="h1 site-header-title">{{ metadata.SITE.title | e }}</p>
            {% endif %}
            <nav>
              <ul class="site-header-nav-list">
                {% for nav_metadata in metadata.main_nav() %}
                  {% if nav_metadata.url_path == page_metadata.url_path %}
                    <li aria-current="page">{{ nav_metadata.title | e }}</li>
                  {% else %}
                    <li>
                      <a href="{{ nav_metadata.url_path | e }}">
                        {{ nav_metadata.title | e }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
          </div>
        </header>
        <main>
          {{ caller() }}
        </main>
        <footer class="site-footer">
          <ul class="site-footer-list">
            <li class="site-footer-list-item">
              <a href="{{ metadata.PostList.main().url_path | e }}">
                {{ metadata.PostList.main().title | e }}
              </a>
              <ul>
                {% for tag in metadata.SITE.tags %}
                  <li>
                    <a href="{{ metadata.PostList.tag(tag).url_path | e }}">
                      {{ tag | e }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
            {% for standalone_metadata in metadata.Standalone.all() %}
              <li class="site-footer-list-item">
                <a href="{{ standalone_metadata.url_path | e }}">
                  {{ standalone_metadata.title | e }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </footer>
      </body>
    </html>
  {% endset %}

  {% set minified = minify.html(contents) %}
  {% do lint.html(minified) %}
  {% do ginjarator.fs.write_text(
    paths.from_url_path(page_metadata.url_path),
    minified,
  ) %}
{% endmacro %}
