{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% set subprocess = ginjarator.py.import_("subprocess") %}

{% set paths = ginjarator.py.import_("dseomn_website.paths") %}

{% macro write(
  url_path,
  title
) %}
  {% set contents -%}
    <!doctype html>
    <html dir="ltr" lang="en-US">
      <head>
        <meta charset="utf-8">
        <title>
          {{- (title, "David Mandelberg") | reject("none") | join(" — ") | e -}}
        </title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/main.css">
      </head>
      <body>
        <main>
          {{ caller() }}
        </main>
      </body>
    </html>
  {% endset %}
  {% set minified = subprocess.run(
    ("minify", "--type=html"),
    input=contents,
    stdout=subprocess.PIPE,
    check=true,
    text=true,
  ).stdout %}
  {% do ginjarator.fs.write_text(paths.from_url_path(url_path), minified) %}
{% endmacro %}
