{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% set rules %}
rule cache_buster_hash
  command = $
    ./src/dseomn_website/cache_buster.py $
    --work-dir=$work_dir $
    hash $
    $args $
    $in
  description = HASH $in

rule cache_buster_dyndep
  command = $
    ./src/dseomn_website/cache_buster.py $
    --work-dir=$work_dir $
    dyndep $
    --dyndep=$dyndep_path $
    --copy-stamp=$copy_stamp_path $
    $in
  description = DYNDEP $in

rule cache_buster_copy
  command = $
    ./src/dseomn_website/cache_buster.py $
    --work-dir=$work_dir $
    copy $
    --copy-stamp=$out $
    $in
  description = COPY $in
{% endset %}

{% macro hash(
  input_dir,
  input_filename,
  work_dir,
  output_filename_base=none
) %}
{% set input_file = input_dir + "/" + input_filename %}
{% set output_filename_path = (
  work_dir + "/" + input_filename + ".cache-buster-output-filename"
) %}
{% set args = [] %}
{% do args.append(
  "--output-filename-base=" +
  (input_filename if output_filename_base is none else output_filename_base)
) %}
build $
    {{ ginjarator.to_ninja(output_filename_path) }} $
    : $
    cache_buster_hash $
    {{ ginjarator.to_ninja(input_file) }} $
    | $
    src/dseomn_website/cache_buster.py
  work_dir = {{ ginjarator.to_ninja(work_dir, escape_shell=true) }}
  args = {{ ginjarator.to_ninja(args, escape_shell=true) }}
{% endmacro %}

{% macro copy(
  input_dir,
  input_filenames,
  work_dir,
  work_filename_base
) %}
{% set input_files = [] %}
{% set dyndep_path = work_dir + "/" + work_filename_base + ".cache-buster-dd" %}
{% set output_filename_paths = [] %}
{% set copy_stamp_path = (
  work_dir + "/" + work_filename_base + ".cache-buster-copy-stamp"
) %}
{% for input_filename in input_filenames %}
{% do input_files.append(input_dir + "/" + input_filename) %}
{% do output_filename_paths.append(
  work_dir + "/" + input_filename + ".cache-buster-output-filename"
) %}
{% endfor %}

build $
    {{ ginjarator.to_ninja(dyndep_path) }} $
    : $
    cache_buster_dyndep $
    {{ ginjarator.to_ninja(input_files) }} $
    | $
    {{ ginjarator.to_ninja(output_filename_paths) }} $
    src/dseomn_website/cache_buster.py
  work_dir = {{ ginjarator.to_ninja(work_dir, escape_shell=true) }}
  dyndep_path = {{ ginjarator.to_ninja(dyndep_path, escape_shell=true) }}
  copy_stamp_path = {{
    ginjarator.to_ninja(copy_stamp_path, escape_shell=true)
  }}

build $
    {{ ginjarator.to_ninja(copy_stamp_path) }} $
    : $
    cache_buster_copy $
    {{ ginjarator.to_ninja(input_files) }} $
    | $
    {{ ginjarator.to_ninja(output_filename_paths) }} $
    src/dseomn_website/cache_buster.py $
    || $
    {{ ginjarator.to_ninja(dyndep_path) }}
  work_dir = {{ ginjarator.to_ninja(work_dir, escape_shell=true) }}
  dyndep = {{ ginjarator.to_ninja(dyndep_path) }}
{% endmacro %}
