{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% set metadata = ginjarator.py.import_("dseomn_website.metadata") %}

{% import "include/base_html.html.jinja" as base_html %}

{% macro page() %}
  {% set error_metadata = metadata.Error.load(ginjarator.current_template) %}
  {% set contents = caller() %}
  {% call base_html.write(page_metadata=error_metadata) %}
    <div class="site-error">
      <h1 class="h1">{{ error_metadata.title | e }}</h1>
      {{ contents }}
    </div>
  {% endcall %}
{% endmacro %}
