{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{#
 # When changing these values, also check if the image sizes in
 # include/media.jinja need changing too.
 #}
{% set main_column_max_inline_size = "60em" %}
{% set main_column_padding_inline = "1em" %}
