{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% set media = ginjarator.py.import_("dseomn_website.media") %}

{% import "include/base_html.html.jinja" as base_html %}

{% macro image(image_metadata, profile_name, id=none) -%}
  {%- set profile = media.IMAGE_PROFILES[profile_name] -%}
  {%- set primary_output = profile.primary_output(image_metadata.source) -%}
  {%- set outputs = profile.unique_outputs(image_metadata.source) -%}
  <img
      {% if id is not none %}
        id="{{ id | e }}"
      {% endif %}
      sizes="{{ profile.responsive_sizes() | e }}"
      {% if none not in (primary_output.url_path, primary_output.metadata) %}
        src="{{ primary_output.url_path | e }}"
        height="{{ primary_output.metadata.height | e }}"
        width="{{ primary_output.metadata.width | e }}"
      {% endif %}
      srcset="
        {%- set srcset_joiner = joiner(", ") -%}
        {%- for output in outputs if none not in (
          output.url_path,
          output.metadata,
        ) -%}
          {{- srcset_joiner() -}}
          {{ output.url_path | e }} {{ output.metadata.width | e }}w
        {%- endfor -%}
      "
      class="image-{{ profile_name.replace("_", "-") | e }}"
      loading="lazy"
      alt="{{ image_metadata.alt | e }}"
      >
{%- endmacro %}

{% macro gallery(page_metadata, gallery_name) %}
  <div class="gallery">
    {% for media_item_details_metadata
      in page_metadata.media_item_details_by_source.values()
      if media_item_details_metadata.item.gallery == gallery_name
    %}
      {% set thumbnail_fragment = page_metadata.fragment(
        media_item_details_metadata.item.source.name
      ) %}
      {% if media_item_details_metadata.item.type_ == "image" %}
        {% call base_html.write(
          page_metadata=media_item_details_metadata,
        ) %}
          <section class="media-item-details">
            <header class="media-item-details-header">
              <h1 class="h1">{{ media_item_details_metadata.title | e }}</h1>
            </header>
            {{ image(
              media_item_details_metadata.item,
              "full_screen",
              id=media_item_details_metadata.item_fragment.id,
            ) }}
            <div class="media-item-details-text">
              <nav class="media-item-details-nav">
                <ul class="pagination-items">
                  {% set prev_contents %}
                    <span aria-label="previous gallery item" role="img">←</span>
                  {% endset %}
                  {% if loop.first %}
                    <li
                        class="pagination-item-box-prev
                               pagination-item-box-hidden"
                        >
                      <span class="pagination-item pagination-item-page">
                        {{ prev_contents }}
                      </span>
                    </li>
                  {% else %}
                    <li class="pagination-item-box-prev">
                      <a
                          class="pagination-item pagination-item-page"
                          href="{{ loop.previtem.item_fragment.url_path | e }}"
                          rel="prev"
                          >
                        {{ prev_contents }}
                      </a>
                    </li>
                  {% endif %}
                  <li>
                    <a
                        class="pagination-item pagination-item-other"
                        href="{{ thumbnail_fragment.url_path | e }}"
                        >
                      Back to gallery
                    </a>
                  </li>
                  {% set next_contents %}
                    <span aria-label="next gallery item" role="img">→</span>
                  {% endset %}
                  {% if loop.last %}
                    <li
                        class="pagination-item-box-next
                               pagination-item-box-hidden"
                        >
                      <span class="pagination-item pagination-item-page">
                        {{ next_contents }}
                      </span>
                    </li>
                  {% else %}
                    <li class="pagination-item-box-next">
                      <a
                          class="pagination-item pagination-item-page"
                          href="{{ loop.nextitem.item_fragment.url_path | e }}"
                          rel="next"
                          >
                        {{ next_contents }}
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
              {% if media_item_details_metadata.item.description_template
                is not none
              %}
                {#
                 # TODO: https://github.com/pallets/jinja/issues/2108 - Add
                 # `without context`
                 #}
                {% include (
                  media_item_details_metadata.item.description_template
                  | string
                ) %}
              {% endif %}
            </div>
          </section>
        {% endcall %}
        <a href="{{ media_item_details_metadata.item_fragment.url_path | e }}">
          {{ image(
            media_item_details_metadata.item,
            "gallery_thumbnail",
            id=thumbnail_fragment.id,
          ) }}
        </a>
      {% else %}
        {% do ginjarator.py.assert_(false) %}
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}
