{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: CC-BY-4.0
 #}

{% import "include/article.html.jinja" as article %}

{% call article.post() %}
  <p>I just released version 0.1.0 alpha of a new game I'm working on, <a href="http://david.mandelberg.org/computers/polyball-bounce/">Polyball Bounce</a>. To see what it looks like, check out the <a href="http://www.youtube.com/watch?v=dnG1hL3Iiz8">screencast</a>.</p>

  <p>It's currently in pretty early stages, but I plan to keep working on it till it's at least playable.</p>
{% endcall %}
